@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* shared styles */
.display-flex{
  display: flex;
}



/* li-color */
.text-color-1{
  color:orange;
}
.text-color-2{
  color: rgb(135, 190, 235);
}
.text-color-3{
  color: #05D4DF;
}
.text-color-4{
  color:#5D58EF;
}


/* bag-size */
.bag-size{
  height: 62px;
  width: 62px;
  margin-top: 14px;
  margin-right:5px;
}
.school{
  font-size: 2rem;

}

/* dark-3 */
.text-black{
  color: black;
}

.bg-light{
  background-color:rgba(255, 166, 0, 0);
}


.btn-primary{
  background-color: black;
  color: #FFFFFF;
  padding: 10px 47px;
  font-size: 1.25rem;
  font-weight: 103px;
  border-radius: 12px;
  border: none;

  

}


.btn-primary-1{
  background-color: orange;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 11px 60px;
  border: none;
  font-size: 1.25rem;
  font-weight: 500px;

}

/* navbar-styles */

.navbar{
  justify-content: space-evenly;
  align-items: center;

}

.nav-item{
  list-style: none;
  margin-left: 32px;
}

.nav-link{
  text-decoration: none;
  font-weight: 600;
}

.navbar{
  max-width: 1160px;
  margin: 0 auto;
}
/* banner-style */


.hero-img{
  width: 100%;
}

.font-width{
  font-size: 3.5rem;
  width: 640;
}


.banner-content{
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 103px;
  margin-top: 20px;
}
.banner-description{
  margin-bottom: 25px;
}

.banner{
  display: flex;
  max-width: 1158px;
  height: 575px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  
}





/* main-style */
main{
  max-width: 1160px;
  margin: 0 auto;
}


/* main > section{
  

} */



.standard-curriculum{
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: 2.8rem;
  font-weight: 700px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 28px;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  background-image: url('../assets/bg.png');
  
  
}

.read-1{
  color: #64C8FF;
}
.read-2{
  color: #F0AA00;
}
.read-3{
  color: #8700FF;
}

.box-1{
  width: 300px;
  height: 350px;
  border: 1px solid #DEF5FF;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 25px 40px;
  background-image: linear-gradient(to bottom, #DEF5FF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
  

}

.box-2{
  width: 300px;
  height: 350px;
  border: 1px solid #FFF4DC;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 25px 40px;
  background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
}

.box-3{
  width: 300px;
  height: 350px;
  border: 1px solid #F2E8FF;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 25px 40px;
  background-image: linear-gradient(to bottom, #F2E8FF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
}


.mathematics-sign{
  display: flex;
  margin-top: 80px;
  margin-left: 550px;
  
}
.greater-than{
  background-color: orange;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* padding: 5px 10px 5px 10px; */
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.less-than{
  background-color: orange;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* padding: 5px 10px 5px 10px; */
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  
}






/* story section */

.stories{
  margin-top: 150px;
}


.second-last{
  background-image: url(../assets/bg.png);
  /* text-align: center; */
  align-items: center;
  /* max-width: 1440;
  height: 1015px; */
  
}

.img-border{
  border-radius: top 16px;
}
.div-1{
  width: 540px;
  height: 519px;
  margin-right: 20px;
  background-color: #FFFFFF;
  border-radius: 16px;
  margin-left: 10px;
}



.story-bg-color{
  background-image:linear-gradient(to bottom, #FFFFFF, #fea10100, #fea10177, #fea10177 );
  height: 700px;
}

.story-1{
  
  width: 290px;
  height: 250px;
  border-radius: 16px;
  background-color: #FFFFFF; 
}
.story-2{
  
  width: 290px;
  height: 250px;
  border-radius: 16px;
  background-color: #FFFFFF; 
}
.story-3{
  
  width: 290px;
  height: 250px;
  border-radius: 16px;
  background-color: #FFFFFF; 
}
.story-4{
  
  width: 290px;
  height: 250px;
  border-radius: 16px;
  background-color: #FFFFFF; 
}
.story-5{
  
  width: 290px;
  height: 250px;
  border-radius: 16px;
  background-color: #FFFFFF; 
}





.div-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  height: 519px;
}


.buttone{
  margin-top: 60px;
}



.head{
  /* justify-content: center; */
  text-align: center;
  font-size: 3rem;
  font-weight: 800px;
  color:#000000 ;
  /* width: 500px; */
  margin-bottom: 80px;


}



